@charset "utf-8";
@import "~bootstrap/less/bootstrap.less";
@import "./common.less";

/**
 * notifications_page.css
 *
 * @author 冒顿
 * @version 2016-07-27
 */

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  color: #999;
}

.extra-actions {
  float: right;
}

#container {
  margin: 10px auto;
  max-width: @maxWidth;
  min-height: 600px;
}
.container-fluid {
  max-width: @maxWidth;
}

#notifictions-content {
  margin-top: 20px;
}

#btn-mark-all-as-read:hover {
  border-color: #f00;
  background-color: #f33;
  color: #ff0;
}

.btn-mark-all-as-read-by-repo {
  color: #666;
}

.list-group-title {
  background-color: #eee;
  font-weight: bold;
}

.event-icon {
  display: inline-block;
  margin-right: 4px;
}
.event-icon-close {
  color: #bd2c00;
}
.event-icon-open {
  color: #6cc644;
}
.event-icon-merged {
  color: #6e5494;
}

.list-group {
  > a {
    .extra-actions {
      float: right;
      margin: -10px -15px 0 0;
    }
    .mark-as-read ,
    .mark-as-mute {
      width: 38px;
      height: 38px;
      border-radius: 4px;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      cursor: pointer;
      color: #666;
    }
    .mark-as-read:hover ,
    .mark-as-mute:hover {
      color: rgba(0, 128, 0, 0.6);
      background-color: #fff;
    }
  }

  > a.visited,
  > a:visited {
    color: #ccc;

    .mark-as-read ,
    .mark-as-mute {
      visibility: hidden;
    }
  }

  .issue-opened ,
  .issue-reopened {
    color: #019875;
  }
  .issue-closed {
    color: #E52C58;
  }
  .mergerequest-opened ,
  .mergerequest-reopened {
    color: #019875;
  }
  .mergerequest-accepted ,
  .mergerequest-merged ,
  .mergerequest-closed {
    padding: 1px 3px;
  }
  .mergerequest-accepted ,
  .mergerequest-merged {
    color: #fff;
    background-color: #2D9FD7;
    border-radius: 2px;
  }
  .mergerequest-closed {
    color: #E52C5A;
  }
}

#toc {
  a {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}
